<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="home.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header_logo">
            <a href="#">
                <h1>Princess Maker AI Service</h1>
                <p>클라우드 컴퓨팅과 AI서비스  8조</p>
            </a>
        </div>
        <div class="header_gnb">
            <ul>
                <li><a href="#">2017136105 임우열</a></li>
                <li><a href="#">2018161119 장은영</a></li>
                <li><a href="#">2019136067 배수빈</a></li>
            </ul>
        </div>
    </header>

    <div class="ImgBox">
        <p>이미지를 삽입해주세요</p>
        <div class="putImg">
            <p>여기 진짜 이미지 넣는공간</p>
        </div>
        <button type="button" class="btn btn-primary">제출하기</button>
    </div>

    <div class="resBox">
        
    </div>
    
</body>
</html>